<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <link href='/stylesheets/screen.css' media='all' rel='stylesheet' type='text/css'>
  <title>Sumo Strong Egg Nog</title>
</head>
<body>
  <div id="noggin" class="container">
    <h1>Sumo Strong Egg Nog</h1>
    <div id="ingredients">
      <div class="container">
        <h2>Ingredients</h2>
        <ul>
          <li>12 large eggs</li>
          <li>2 cups granulated sugar</li>
          <li>1 cup heavy cream</li>
          <li>1 quart (4 cups) whole milk</li>
          <li>1 liter (about 4 cups) maker's mark bourbon</li>
          <li>1/2 cup Myers’s dark rum</li>
          <li>1/2 to 1 cup good Cognac or other brandy</li>
          <li>Pinch kosher salt</li>
          <li>1 whole nutmeg</li>
          <li>Several Glass Bottles</li>
        </ul>
      </div>
    </div>
    <div id="instructions">
      <div class="container">
        <h2>Instructions</h2>
        <aside>
          <h3>Pro Tip</h3>
          <p>Prior to refrigeration, it’s traditional to wrap the bottle in aluminum foil, shiny side out, together with a fresh nut of nutmeg tucked into the foil for grating later.</p>
        </aside>
        <ol>
          <li>Separate egg yolks and whites. (Reserve the whites for another use.)</li>
          <li>Combine yolks and sugar in a large mixing bowl and whisk until well blended and creamy.</li>
          <li>Add cream, milk, bourbon, rum, Cognac, and salt, then stir.</li>
          <li>Bottle immediately (An old liquor bottle works great, as do 22-ounce bail-top bottles.)</li>
          <li>Keep refrigerated for at least 3 weeks, or up to a year if you can.</li>
        </ol>
      </div>
    </div>
  </div>
</body>
</html>