body
  font-family: Georgia, times, "Times New Roman", serif
  background-color: #E8E0C5
  line-height: 1.5em
  font-size: 85%
  color: #766657
  .container
    padding: 20px
  h1, h2, h3
    margin: 0
    padding: 0
    font-weight: normal
  h1
    text-align: center
    margin-bottom: 1em
    font-size: 3em
    text-transform: uppercase
    line-height: 1.3em
    color: #573A30
  li
    padding-bottom: .5em
  #ingredients
    width: 30%
    float: left
    ul
      padding-left: 1.3em
      li
        list-style-type: square
  #instructions
    background-color: #FEFBEB
    width: 70%
    float: left
    color: #766657
    .container
      padding: 20px 0 20px 20px
    ol
      padding-left: 1.7em
    aside
      float: right
      width: 300px
      margin-left: 20px
      margin-bottom: 20px
      background-color: #867A6B
      color: #FEFBEB
      h3
        text-transform: uppercase
        margin: 0
        padding: 10px 10px 0 10px
        color: #FEFBEB
        font-family: helvetica, arial, sans-serif
        font-weight: bold
        font-size: 85%
      p
        margin: 0
        padding: 0 10px 10px 10px

@media all and (min-width: 1130px)
  body
    #noggin
      width: 1070px
      margin: 0 auto

@media all and (max-width: 700px)
  body
    #ingredients, #instructions
      float: none
      width: auto
    #instructions
      padding: 20px
      h3, p
        padding: 0
      aside
        float: none
        width: auto
        margin: 0
        margin-top: 1em
      .container
        padding: 0